# Зависимости
node_modules/
.pnpm-store/
**/.pnpm-store/

# Next.js
.next/
out/

# Prisma
prisma/migrations/*/migration_lock.toml

# Окружение
.env
.env.local
.env.production

# Кэш
*.tsbuildinfo
.next/